@font-face {
  font-family: 'Sofia Pro';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local('Sofia Pro'),
    url('./fonts/sofia-pro-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: local('Sofia Pro'), url('./fonts/sofia-pro-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local('Sofia Pro'), url('./fonts/sofia-pro-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local('Sofia Pro'), url('./fonts/sofia-pro-bold.woff2') format('woff2');
}
